Post::create([ 'title' => 'Judul Empat', 'excerpt' => 'Lorem ipsum dolor, sit
amet consectetur adipisicing elit.', 'body'=>'' ])
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, laborum. Neque,
  totam adipisci! Quas esse culpa laudantium natus? Tenetur a ipsam rerum! Ipsa
  atque quod esse illum aliquam et iste tenetur hic quasi, odit earum sed magni
  tempore amet, assumenda necessitatibus corrupti veniam qui accusamus.
</p>
<p>
  Voluptatem ea esse et aliquid voluptatibus molestias amet eos nulla beatae
  accusamus, veniam tempora eligendi eveniet incidunt architecto, neque placeat
  eaque maiores ad explicabo recusandae possimus enim magni. Ipsum libero at
  eius totam, dicta itaque alias impedit repellendus sunt,
</p>
<p>
  consequatur porro esse iure nam harum quia voluptates reiciendis commodi modi
  nesciunt dolorum? Iste, minus similique sapiente distinctio repudiandae vitae
  eveniet, eaque inventore quisquam quidem ad dolore error omnis quia
  accusantium iusto tenetur animi obcaecati! Dolorem totam ducimus, possimus
  odit eos ipsam unde tempora voluptate ipsum fuga, quod omnis doloribus
  blanditiis aut ea excepturi sequi corrupti quae sed sit laborum similique ut?
  Recusandae nisi distinctio culpa.
</p>
